* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none; 
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}

html {
	font-size: 64%;
	overflow-x: hidden;
	background-color: cadetblue;
}

.navbar {
	background-color: rgb(230, 221, 218) !important;
	padding: 1rem 1rem !important;
}

.navbar-brand {
	font-size: 2.5rem !important;
	color: rgb(231, 46, 46) !important;
	letter-spacing: .2rem;
}

.navsocial {
	font-size: 1.7rem !important;
	color: rgba(231, 51, 81, 0.883);
}

.navsocial li {
	margin-right: 0.9rem;
	margin-left: 0.9rem;
}

.hr {
	margin-top: 6rem;
	margin-bottom: 4rem;
	border-top: 2px dashed rgb(4, 48, 7);
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

.header {
	width: 100%;
	height: 160vh;
	background-color: cadetblue;
}

.centerheading {
	padding-top: 8rem;
	font-size: 4.3rem;
	letter-spacing: 0.4rem;
	color: seashell;
	text-shadow: 1px 2px 2px rgb(29, 9, 9);
}

.centerheading i {
	font-size: 55px;
	margin-bottom: 2rem;
	color: rgba(204, 61, 85, 0.883);
	text-shadow: 1px 2px 2px rgb(43, 19, 19);
}

.form {
	width: 40%;
	margin: 2rem;
	margin-left: 30%;
	margin-right: 20%;
}

form {
  position: relative;
  width: 550px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  background-color: rgba(231, 51, 81, 0.883);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  padding: 13px 30px;
  position: absolute;
  top: 2px;
  right: 2px;
}

form button:focus {
	outline: none;
	font-size: 19px;
}

.subhead {
	margin-top: 1rem;
	margin-left: 50%;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: .5rem;
	color: #fff;
}

.mainheading {
	margin-top: 8rem;
	margin-bottom: 6rem;
	font-size: 4rem;
	font-weight: 600;
	color: #fff;
	letter-spacing: .5rem;
	text-shadow: 1px 2px 2px rgb(29, 9, 9);
}

.mainpara {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 2rem;
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 500;
	word-spacing: .5rem;
	text-align: center;
}

.mainsection {
	padding: 5rem 15%;
	height: 100%;
	width: 100%;
	background-color: cadetblue;
	overflow: hidden;
}

.mainsection h2 {
	font-weight: 600;
	font-family: sans-serif;
	margin-top: 1rem;
	color: cornsilk;
	text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.searchcllg {
	padding-bottom: 4rem;
	font-size: 5rem;
	color: #fff;
	text-shadow: 1px 2px 2px rgb(29, 9, 9);
}

.leftone {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	height: 10rem;
  overflow-y: scroll;
}

.rightone {
  background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 1rem 1rem;
	height: 17rem;
}

.rank {
	padding: 40% 20%;
	color: rgb(102, 102, 102);
}

.info {
	padding: 1% 1%;
}

.info h3 {
	font-weight: 700;
}

.info .afp {
	color: rgb(86, 94, 209);
} 

.review {
	color: darkgoldenrod;
}

.testimonials {
	padding-left: 3rem;
	padding-right: 3rem;
	color: rgb(17, 17, 17);
  text-align: center;
  background-color: cadetblue;
}

.testimonials h1 {
	padding-top: 4rem;
	font-size: 4rem;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 2px 2px rgb(29, 9, 9);
}

.testimonial-img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  margin: 20px;
	object-fit: cover;
}

.carousel-item {
  padding: 4% 20%;
	margin-bottom: 5rem ;
}

.footer {
  background-color: cadetblue;
	width: 100%;
	height: 100%;
	padding: 2rem 7rem;
}

.footerhead {
	margin: 3rem;
	font-size: 2.5rem;
	color: rgb(185, 50, 50);
}

.footerbody {
	font-size: 1.7rem;
	line-height: 3rem;
	word-spacing: .3rem;
	position: relative;
}

.copyright1 {
	position: relative;
	bottom: -6rem;
	font-size: medium;
}